@{
    Layout = null;
}

<p><a href="/admin/qluser/index"><img src="../../Image/user.png" align="middle" /></a></p>
                    <div style="text-align:center">Tổng số tài khoản : @ViewBag.dem</div>
