@model List<giayit.ServiceReferenceSanPham.sanpham>

@{
    ViewBag.Title = "Home Page";
}

<div class="columncenter">
                 <div class="header-center">SẢN PHẨM NỔI BẬT</div>   
                    <div style="width:580px;height:auto" >
                      @foreach (var item in Model)
                      {
                          <div class="showlistPro">
                            <a href="../sanpham/ChiTietSanPham?masp=@item.masanpham">
                            <img id="hinhanh" src="../@Html.DisplayFor(modelItem => item.hinhanh)"></a>
                            <p class="detail">
                        	    <a href="../SanPham/ChiTietSanPham?masp=@item.masanpham"> @Html.DisplayFor(modelItem => item.tensanpham)</a>
                            </p>
                            <p id="money490" class="price"> @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.giasanpham)) </p>
                            @if(item.soluongcon >0)
                            {
                                <p class="price">
                        	        <a href="../giohang/giohangthem?masanpham=@Html.DisplayFor(m => item.masanpham)"><img src="../Image/chỉ mục.jpg"></a>                        
                                </p>
                            }
                            else
                            {
                                <span id="trangthai-het">Hết hàng</span>
                            }
                  	      </div> 
                      }
                     
                        
                </div>
                
     </div>

