@model IEnumerable<giayit.ServiceReferencePhieuNhap.phieunhap>
@{
    ViewBag.Title = "Admin - Quản lý nhập hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="columcenter">
     <div class="header-center">QUẢN LÝ NHẬP HÀNG HÀNG</div>   
     	<div class="canhgiua" style="width:781px;height:auto" >
              
            
            
        <table border="0" >
             
            <tr style="background-color:blue">
                      <td align="center" width="150"><span style="color: #ffffff"><b>Tên người nhập</b></span></td>
                      <td align="center" width="130"><span style="color: #ffffff"><b>Tổng tiền <a href="index?sortby=-2"><img src="../../../../Image/Stock Index Up.png" width="20px" height="8px"/></a><a href="index?sortby=2"><img src="../../../../Image/Stock Index Down.png" width="20px" height="8px"/></a></b></span></td>
                      <td align="center" width="110"><span style="color: #ffffff"><b>Ngày nhập<a href="index?sortby=-3"><img src="../../../../Image/Stock Index Up.png" width="20px" height="8px"/></a><a href="index?sortby=3"><img src="../../../../Image/Stock Index Down.png" width="20px" height="8px"/></a></b></span></td>
                      <td align="center" width="110"><span style="color: #ffffff"><b>Thao tác</b></span></td>
                     
                      
             </tr>
            @foreach (var user in Model)
            {   
                <tr>
                    <td align="center" width="150"><span style="color:black">@Html.DisplayFor(x=>user.nguoinhap)</span></td>
                    <td align="center" width="130"><span style="color:black">@String.Format("{0:0,0 VNĐ}", Convert.ToInt32(user.tongtien))</span></td>
                    <td align="center" width="110">
                        @{string ngaydathang = user.ngaynhap.ToString();
                  ngaydathang = ngaydathang.Substring(0, ngaydathang.LastIndexOf(":") - 6);
                               }                                         
                    <span style="color:black">   @ngaydathang</span></td>
                    <td align="center" width="110"><a href="../qldonhang/chitiet?mahd=@user.maphieunhap"><img src="../../../../Image/Zoom.png" width="15px" height="15px"/></a><a href="../qldonhang/edit?mahd=@user.maphieunhap"><img src="../../../../Image/compose-128.png" width="15px" height="15px" /></a></td>
                </tr> 
            }
          
        </table>   
                
             <br/>
    </div>
    </div>
