@{

}
<p><a href="/admin/qlsanpham/index"><img src="../../Image/shoes.png" align="middle" /></a></p>
<div style="text-align:center">
        <a href="/admin/qlsanpham/themsp" target="_blank">
            <img style="height:24px;width:24px;" src="../../../../Image/add-icon.png" />
        </a>
</div>
<div style="text-align:center">Tổng sản phẩm hiện có : @ViewBag.count</div>