@model IEnumerable<giayit.ServiceReferenceSanPham.loaisanpham>
@{
    ViewBag.Title = "Admin - Thêm Sản Phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="columcenter">
    <div class="header-center">THÊM SẢN PHẨM </div>
    <div style="width:781px;height:auto" >
<div class="formn">
    <fieldset style="width:auto">
            <legend style="flex-item-align:center">Thông tin</legend>
        <form  name="fthem" enctype="multipart/form-data" action = "themsp" method = "post"  onsubmit="return checkinput()" >

              
                 <select name="loaihang">
                     <option value="">Chọn hãng</option>
                                  @foreach(var item in Model)
                                  {
                                    <option value="@Html.DisplayFor(x => item.maloai)">@Html.DisplayFor(x=> item.tenloai)</option>
                                   
            		        
                                  }
    	          </select> <b><font size="-1" color="red"><loai></loai></font></b><img name="loai" src="" /><br /> 
                 <div class="editor-label">
                    Tên sản phẩm
                 </div>
                 <input type="text" name="tensp" id="tensp" oninput="return checktensp()"/><b><font size="-1" color="red"><tensp></tensp></font></b><img name="tensp" src="" /><br />
                 <div class="editor-label">
                    Chất liệu
                 </div>
                 <input type="text" name="chatlieu" oninput="return checkchatlieu()"/><b><font size="-1" color="red"><clieu></clieu></font></b><img name="userID" src="" /><br />
                 <div class="editor-label">
                    Giá
                 </div>
                 <input type="text" name="gia" oninput="return checkgia()"/><b><font size="-1" color="red"><gia></gia></font></b><img name="userID" src="" /><br />
                 <div class="editor-label">
                    Mô tả sản phẩm
                 </div>
                 <input type="text" name="mota" oninput="return checkmota()"/><b><font size="-1" color="red"><mota></mota></font></b><img name="userID" src="" /><br />
                 <div class="editor-label">
                    Số lượng
                 </div>
                 <input type="text" name="sl" oninput="return checksluong()"/><b><font size="-1" color="red"><sluong></sluong></font></b><img name="userID" src="" /><br />
                 <div class="editor-label">
                    Hình ảnh
                 </div>
                 <input type="file" name="file"  value="abv"/><font size="-1" color="red"><image></image></font></b><br /><b>
                 <span class="btn">
                    <input type="submit"   value="Thêm" style="margin-top: 10px; width: 257px; cursor:pointer" /><br />
                </span>
      </form>
           
        </fieldset>
    </div>
</div>
</div>