@{
    Layout = null;
}

<p><a href="/admin/qldonhang/index"><img src="../../Image/purchase_order.png" align="middle" /></a></p>
                	<div style="text-align:center">Số đơn hàng chưa liên lac: @ViewBag.dem</div>