/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

body 
{    
	background-image:url(../Image/BodyBg.jpg);
    font-size: .85em;
   /* font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;*/
   font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #696969;
	
}

a:link {
    color: blue;
    text-decoration: none;
	
}

/*a:visited {
    color: #505abc;
}*/

a:hover {
    color: #0000FF;
    text-decoration: none;
}


a:active {
    color: #12eb87;
}


p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
	list-style-type: none;	
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: 15px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/


.menu ul {    
    padding: 0 0 2px;
    position: relative; 
	height: 20px;  
    
}

.menu li {
    display: inline;    
	float: left;	
	margin: 0 1px 0 10px;
	padding: 10px 10px;
	height: 20px;
}



.menu li a {	
    display: block;
	color:#FFF;	
	font-weight:bold;
	font-size: 15px;
}

.menu li:hover {
    background-color: #9D3939;  
	-moz-transition: all 700ms linear; /*linear:do mau tu dam sang nhat, all: tu 4 gon do ve -moz-:dung cho trinh duyet firefox*/
	-webkit-transition: all 700ms linear; /*webkit: dung cho trinh duyet chrome*/
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;   
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;    
}

/* TABLE
----------------------------------------------------------*/

table {
  /* border: solid 1px #e8eef4;*/
    border-collapse: collapse;
}

table td {
    padding: 5px;
  /* border: solid 1px #000;*/
	border-collapse: collapse;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    
}

table#t01 th {
    padding: 6px 5px;
    text-align: left;
    background-color: #fff;
    
}

table#t01 tr:nth-child(even) {
    background-color: #e8eef4;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;


}

/* TABLE 01
----------------------------------------------------------*/
table#t01 {
    border: solid 1px #000;
}

 table#t01 td {
     border: solid 1px #000;
}

 /* TABLE 02
----------------------------------------------------------*/
 table#t02 {
   border: solid 1px #e8eef4;    
}

table#t02 td {   
   border: solid 1px #000;
	
}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}



div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/*CSS*/
.container
{
	font: 12px Arial, Helvetica, sans-serif;
    width: 1000px;
	margin: 0px auto;
}

.banner
{
	margin-left:-3px;

	border-radius: 4px 4px 0px 0px;
	width:1000px;
	/*background-image:url(../Image/home-banner.jpg);*/
	height:150px;
}

.menu
{
	border-radius: 0px 0px 4px 4px;
	width:1000px;
	margin-top:5px;
	height:40px;
	background-image:url(../Image/menu_top.png);
	margin-top: 5px;
}

.main
{
	margin-top:5px;
	height:auto;
	width:1000px;
}

.columnleft
{
	float:left;
	width:200px;
}

.header-column
{
 	border-radius: 4px 4px 0px 0px;
	text-align:center;
	color: #f6f5ee;
	background-image:url(../Image/menu_top.png);
	height:30px;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height:30px;
	font-size: 15px;
}

.columnright
{
	float:right;
	width:200px;
	padding:0px;
}
.columncenter
{
	border-radius: 5px;
	width:580px;
	margin:0px 0px 5px 9px;
	background-color:#FFFFFF;
	float:left;
}

.columcenter
{
	border-radius: 5px;
	width:791px;
	margin:0px 0px 5px 9px;
	background-color:#FFFFFF;
	float:left;
}
.imgn {
display: table-cell;
text-align: center;
border: 1px solid #ddd;
height: 50px;
width: 140px;
vertical-align: middle;
}
.imgm {
text-align: left;
height: 100px;
width: 165px;
vertical-align: middle;
}

.block-product {
border: 1px #FFF solid;
float: left;
line-height: 16px;
padding: 1%;
position: relative;
vertical-align: top;
width: 185px;
height: 200px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 5px;
overflow: hidden;
}
.detail
{
	text-align: center;
	font-size: 17px;
}
.detail p
{
	margin-bottom: 5px;
	margin-top: 5px;
}
.detail a
{
	font-weight: bold;
	color: #666666;	
}
.header-center
{
    text-transform: uppercase;
    border-radius: 4px 4px 0px 0px;
    background-image: url(../Image/menu_top.png);
    text-align: center;
    color: #f6f5ee;
    height: 30px;
    font: bold 15px Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.noidungcanhtrai
{
	text-align:left;
	border-radius: 0px 0px 4px 4px;
	padding:5px 10px 5px 10px;
	background-color:#ffffff;
	margin-bottom:5px;
	border: 1px solid #CCCCCC;
	color: #000000;
}

.noidungloginadmin
{
	text-align:left;
	border-radius: 0px 0px 4px 4px;
	padding:5px 10px 5px 10px;
	background-color:#ffffff;
	margin-bottom:5px;
	border: 1px solid #CCCCCC;
	color: #000000;
	width: 210px;
}

/*Form login*/

.noidungcanhtrai input{
	height: 25px; 
	width: 167px; 
	margin-bottom: 5px;	
}

.noidungcanhtrai span{	 
	font-size: 14px; 		
}

.noidungcanhtrai #btnlogin{
	height: 25px; 
	width: 174px; 
	margin-bottom: 5px; 
	background-color:#363737; 
	color:#FFF; 
	font-size:15px; 
	font-weight:bold;	
	cursor: pointer;
}

/*Form login admin*/
.noidungloginadmin input{
	height: 25px; 
	width: 200px; 
	margin-bottom: 5px;	
}

.noidungloginadmin span{	 
	font-size: 14px; 		
}

.noidungloginadmin #sbmAdDangNhap{
	height: 30px; 
	width: 207px; 
	margin-bottom: 5px; 	
	font-size:15px; 		
	cursor: pointer;
}

.noidungloginadmin .btnlogin input:hover
{
	background-color:#00aff0; 
	color:#fff; 
}

.btn input:hover
{
	background-color:#00aff0; 
	color:#fff; 
}
/*Form search*/
.noidungcanhtrai #btnsearch{
	height: 25px; 
	width: 174px; 
	margin-bottom: 5px; 
	background-color:#363737; 
	color:#FFF; 
	font-size: 15px; 
	font-weight:bold;
	cursor: pointer;
}

.noidungcanhtrai select{
	height: 25px; 
	width: 174px; 
	margin-bottom: 5px;
}


.noidungthanhtoan
{
	
	border-radius: 0px 0px 0px 0px;
    background-image:url(../Image/thanhtoan.jpg);
	padding:0px 0px 0px 0px;
    width:200px;
    height:300px;
	margin-bottom:5px;
	border: 1px solid #CCCCCC;
	
}

.sidebarmenu ul
{
	margin: auto;
	padding: 0;
	list-style-type: none;
	font: 16px Arial, Helvetica, sans-serif;
	width: 170px; /*chi?u r?ng c?a menu chinh*/
}
.sidebarmenu ul li
{
	position: relative;
}
/* cap do menu link toi style */
.sidebarmenu ul li a
{
	display: inherit ;
	overflow: auto; /*hieu luc bo tri trong IE7 */
	color: white;
	text-decoration: none;
	padding: 7px;
	padding-left:12px;
	border-bottom: 2px solid #fff;
	border-right: 4px solid #fff;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active
{
	background-color: rgba(68, 68, 68, 0.92); /*background */
    /*background-image: url(../image/menu_top.png);*/
	
}
.sidebarmenu ul li a:hover
{
	background-color: #9d3939;
    -moz-transition: all 800ms linear; /*linear:do mau tu dam sang nhat, all: tu 4 gon do ve -moz-:dung cho trinh duyet firefox*/
	-webkit-transition: all 800ms linear; /*webkit: dung cho trinh duyet chrome*/
}
/*Sub level menu items */
.sidebarmenu ul li ul
{
	position: absolute;
	width: 150px; /*Chi?u r?ng Sub Menu Items */
	top: 0;
	visibility: hidden;
}
.sidebarmenu a.subfolderstyle
{
	background: url() no-repeat 97% 50%;
}
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }

.noidungcanhgiua
{
	border-radius: 0px 0px 4px 4px;
	padding:5px 10px 5px 10px;
	background-color:#ffffff;
	text-align:center;
	margin-bottom:5px;
	border: 1px solid #CCCCCC;
	color: #000000;
}

.quangcao img
{
	margin:0px;
	width:200px;
	border-radius:5px;
}

.xemthem
{
	color:#0033FF;
	height:20px;
	padding:2px;
	text-align:right;
	color: #000000;
}

FORM#regmail 
{
  position: relative;
}

DIV#mail
{
  position: relative;
  float: left;
}

INPUT#mail-field
{
  width: 125px;
  margin-top:1px;
}

LABEL.overlabel 
{
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
  color: #999999;
}

.bang_gia_vang tr td 
{
    border-width: 1px 1px 1px 1px;
    margin: 0;
    padding: 2px;
}
.bang_gia_vang table, .bang_gia_vang td
{
    border: 1px solid #2f8bb2;
    margin: 0;
}

.size
{
    font: 8px Arial, Helvetica, sans-serif;    
}

.button
{
	font: bold 14px Arial, Helvetica, sans-serif;
	float:left;
	text-align:center;
	text-decoration:none;
	padding-top:12px;
	padding-left:15px;
	padding-right:15px;
	color: Red;
}

.time
{
	float:right;
	padding-top:12px;
	padding-left:15px;
	padding-right:15px;
	color:red;
	font: 14px Arial, Helvetica, sans-serif;
}
.timen
{
	float:right;
	padding-top:12px;
	padding-left:15px;
	padding-right:15px;
	color:white;
	font: 14px Arial, Helvetica, sans-serif;
}
.title
{
	font-size: 20px;
	font-weight: bold;
	color: #486A78;
}
.showlistPro
{
	padding: 10px; /*border: 1px #DDDDDD solid;*/
	text-align: center;
	display: inline-block;
	width: 171px;
    height: 230px;
	float: inherit;
}

/*Sản phẩm*/
.showlistPro #hinhanh{
	border-color:#D4D0C8;
	border-width:1px;
	border-style:solid;
	height:120px;
	width:135px;
	padding-left: 0px;
}

.showlistPro:hover
{
	border-color:#ddd;
 	background-color:#f5f5f5;
 	box-shadow:0 1px 2px #ccc;
}


.price
{
	font-size: 16px;
	text-align: center;
    height: 15px;
    width: 165px;
	color: Red;
	font-weight:bold;
}


.menu-space
{
	background-image:url(../Image/menu-space.jpg);
	width:2px;
	height:40px;
	float:left;
}
.clear
{
	clear:both;
}

.footer
{
	font-size: 20px;
	margin-top:5px;
	border-radius: 0px 0px 4px 4px;
	padding:5px 10px 5px 10px;
    width:980px;
    height:100px;
	background-image:url(../Image/footer.png);   
	color:Black
}

img
{
	border:0px;
	margin:3px;

}

.text
{
    color:Black;
}

.noidunggiua
{
	padding:5px 10px 5px 10px;
	margin-bottom:5px;
	color:#336699;
}
.noidungphu
{
	padding:0px 10px 0px 35px;
	margin-bottom:5px;
	text-align: justify;
	color:#000000;
}
.noidungchinh
{
	padding:2px 10px 2px 10px;
	margin-bottom:5px;
	color: #336699;
}
.noidungphu2
{
	padding:2px 10px 2px 60px;
	margin-bottom:5px;
	text-align: justify;
	color:#000000;
}
.dangcapnhat
{
	margin:10px 0px 10px 0px;
	text-align: center;
	color:#000000;
}
.dangnhap
{
	border-radius: 5px;
	width:1000px;
	background-color:#fbd9e9;
	float:left;
	border: 1px solid #348db7;
}
.menu a
{
	color: #FFFFFF;
    text-decoration: none;
}
.menu a:hover
{
	color: #CCCCCC;
}

a
{
	color: blue;
    text-decoration: none;
}
a:hover
{
	color: #0000FF;
}

.fieldset
{
    border-radius: 5px;
	width:535px;
	margin:5px 5px 5px 5px;
	background-color:#fbd9e9;
	float:left;
	border: 1px solid #CCCCCC;
}


.form
{
    border: 1px solid #000000;
    font-size: 1.2em;
    padding: 0px 50px 50px 50px;
}
.formn
{
    font-size: 1.2em;
    padding: 0px 50px 50px 50px;
}

.formn input {
    width: 250px;
    height: 30px;
}

.formn textarea {
    width: 250px;
}
.form h2
{
    padding-left:50px;
    margin-left:-50px;
    margin-right:-50px;
    padding-top:13px;
    background-color:#333e1c;
    color:#fff;
    height:40px;
    margin-bottom:15px;
}
.footer
{
    border-radius: 4px 4px 0px 0px;
	color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	font-family: tahoma;
	vertical-align: middle;
	height: 100px;
	width: 980px;
	text-align: center;
	background-image: url(../image/menu_top.png);
	display: inline-block;
}
.tittles {
width: 100%;
height: 15px;
padding-top: 5px;
color: White;
	text-align: center;
	}
.canhgiua {
    text-align:center;
}
.canhtrai {
    text-align:left;
}


.pagination 
{
    width:580px;
    clear:both;
    padding:10px 0 10px 0;
    text-align:center;
    float:left;
    font-size:11px;
    position:relative;
}

.pagination a 
{
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    
    border: 1px solid #52bfea;
    text-decoration: none; 
    color: #348db7;
}
.pagination a:hover, .pagination a:active 
{
    font-size: 12px;
    border:1px solid #52bfea;
    color: #fff;
    background-color: #52bfea;  
}
.pagination span.current 
{
    font-size: 12px;
    padding: 2px 5px 2px 5px; 
    border: 1px solid #52bfea;
    font-weight: bold;
    background-color: #52bfea;
    color: #FFF;
}
.pagination span.disabled 
{
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}


/*
table {    
    border: solid 0px #f6f5ee;
    border-collapse: collapse;
}
*/
table td {
    padding: 5px;
 /*  border: solid 1px #808080;*/
}
/*
table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 0px #e8eef4;
}*/

/*Gio hàng*/
#cart{	
	position:fixed;
	top: 200px;
	right: -350px;
	height: 200px;
	width: 420px;		
}

.c_ct{
	margin-left: 30px;
	height: 300px;
	overflow: auto;
	background:#FFF;
}

.c_tt{
	width:70px;
	height:72%;	
	float:left;	
	padding-top: 30%;	
}

.c_tt #logo-cart{
	width: 70px;
	height: 70px;
	cursor: pointer	
}

.c_tt span{
	-webkit-transform: rotate(90deg);
	position: absolute;
	font-size: 18px;
	top: 42%;
	left: -29px;
}

.c_tien{
	background-color:#444;
	
	margin-left: 70px;
	color:#fff;
}

.listcart {
    height: 300px;
	overflow: auto;
}

/*Chi tiet san pham*/
.img-spchitiet
{
	padding: 10px;
	display: inline-block;
	width: 200px;
    height: 230px;
	float: left;
	
}

.chitiet
{	
	width: 360px;	
	float:left;
	margin-top: 10px;
}

.dong
{
	display: block;
	font-size:13px;
	padding: 5px 5px 5px 10px;
	border-bottom: 1px dashed #f3515c;
}

.dathang
{
	background-color:#f6f6f6;
	margin-top: 10px;
	font-size: 17px;
}

#trangthai-con
{
	font-size: 17px;
	font-weight:700;
	padding: 3px 5px 4px;
	color:#FFF;
	background-color: #55C65E;
	border: 1px solid #36943E;
}

#trangthai-het
{
	font-size: 17px;
	font-weight:700;
	padding: 3px 5px 4px;
	color:#FFF;
	background-color: #F30;
	border: 1px solid #F30;
}

.btn-tweet{
	color: #333333;
  	background-color: white;	
	display: inline-block;
  	padding: 2px 3px;
	margin-top: 5px;	
  	cursor: pointer;
  	border: 1px solid transparent;
  	border-color: #CCC;
}

.btn-tweet:hover{	
    background-color: #ebebeb;
    border-color: #adadad; }	
}


/*tao nut back to top*/
#back-top {
	position: fixed;   
}

#back-top a {
	width: 100px;	
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
    float: right;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}



