@{
    Layout = null;
}

<!DOCTYPE html>
<script type="text/javascript">
    function delayer() {
        window.location = "../home/index"
    }
</script>
<html>
<head>
    <title>dkthanhcong</title>
</head>
<body background="/image/BodyBg.jpg" onLoad="setTimeout('delayer()', 5000)" >
    <div align="center">
        <table border="1">
        <span style="color: #ffffff" size="30" >   
        Đăng ký thành công
        Bạn sẽ đăng nhập với tên đăng nhâp :@ViewBag.makh<br/>
        Hệ thống sẽ tự động chuyển sau 5 giây.Bấm vào <a href="../home/index" style="color:red">đây</a> nếu không tự động chuyển
            </span>
            </table>
       @{
           Session["Account"] = ViewBag.makh;
           }
    </div>
</body>
</html>
