@{
    ViewBag.Title = "DnSai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columncenter">
    <div class="header-center"> QUÊN MẬT KHẨU </div>
    <div style="width:580px;height:auto" >
<div class="form">
    
    
     <form   name="fthem" method="post"  action = "Dnsai" onsubmit ="return laymk()" >
         <div class="editor-label"><b><font size="3" color="red">Bạn nhập sai tên đăng nhập hoặc mật khẩu.</font></b></div>
         <hr /><p><p></p></p><p></p>
         <div class="editor-label">
             <font size="3" color="blue">Quên mật khẩu ?</font><p></p>
                <font color="blue"> Nhập email đã đăng ký để lấy lại mật khẩu:</font>
                <input type="text" name="takmail" id="tensp" value=""/>
                <input  type="submit" value="ok" /><b><font size="-1" color="red"><mail></mail></font></b></div><hr />
      </form>
    </div>
        </div>
    </div>
