@{
    ViewBag.Title = "DoiMk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columncenter">
    <div class="header-center"> Thay đổi mật khẩu </div>
    <div style="width:580px;height:auto" >
<div class="form">


        <fieldset style="width:auto">
            <legend style="flex-item-align:center">Tài khoản</legend>
            @if (ViewBag.ma != "3")
            { 
            <form name="fdoimk" action="doimk" method="post" onsubmit="return checkdoimk()">
            
            
            <div class="editor-label">
                Nhập mật khẩu hiện tại
            </div>
            <div class="editor-label">
                <input name="mkcu" type="password" oninput="return checkdpascu()" /><b><font size="-1" color="red"><pass></pass></font></b><img name="pass" src="" /><br />
            </div>
            <div class="editor-label">
                Nhập mật khẩu mới
            </div>
            <div class="editor-label">
                <input name="mkmoi" type="password" oninput="return checkdpasmoi()" /><b><font size="-1" color="red"><pass1></pass1></font></b><img name="pass1" src="" /><br />
            </div>
           <div class="editor-label">
                Nhập lại mật khẩu mới
            </div>
            <div class="editor-field">
                <input type="password" name="repassword" oninput="return checkdrpas()"/><b><font size="-1" color="red"><rpass></rpass></font></b><img name="rpass" src="" /><br />
            </div>    
            <p>
                <input type="submit" name="save" value="Lưu" />
            </p>
            
            </form>
            }else
            {
               <div class="editor-label">
                   
                THAY ĐỔI THÀNH CÔNG
            </div> 
            }
        </fieldset>
</div>
        </div>
    </div>

