<form name="dangnhap" method="post" action="../account/login" onsubmit="return kiemtradn()">
     @{
        string url = HttpContext.Current.Request.Url.AbsoluteUri;
           
                ViewBag.url = url;
    }
            		<Input name="url" type="hidden" value="@ViewBag.url">
                        <span style="font-weight:bold; color: black">Tài khoản</span>
                        <input id="username" type="text"  placeholder="Nhập tài khoản"  name="username" />
                        
                        <span style="font-weight:bold; color: black">Mật khẩu</span>
                        <input id="password" type="password"  placeholder="Nhập mật khẩu"  name="password" />
                        <input id="btnlogin" type="submit"  value="Đăng nhập"  name="btnlogin" />
                        
</form>

