<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings>
  <add name="giayitEntities" connectionString="metadata=res://*/DataGiayit.csdl|res://*/DataGiayit.ssdl|res://*/DataGiayit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=giayit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ServiceGiayit.ServiceSanPham">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceSanPham">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceSanPham/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.Qladmin">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IQladmin">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/Qladmin/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceAdmin">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceAdmin">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceAdmin/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceAccount">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceAccount">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceAccount/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceHoaDon">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceHoaDon">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceHoaDon/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServicePhieuNhap">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServicePhieuNhap">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServicePhieuNhap/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceChiTietHoaDon">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceChiTietHoaDon">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceChiTietHoaDon/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceChiTietPhieuNhap">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceChiTietPhieuNhap">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceChiTietPhieuNhap/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceGiayit.ServiceTonKho">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceGiayit.IServiceTonKho">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceTonKho/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>