@model IEnumerable<giayit.ServiceReferenceSanPham.sanpham>

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columncenter">
               <div class="header-center">CHI TIẾT SẢN PHẨM </div>
                <div style="width:580px;height:auto" > 
                    @foreach(var item in Model)
                    {
                	         <div class="img-spchitiet">
                                 <a href="../@item.hinhanh" title="" rel="adjustX: 10, adjustY:-4" id="zoom1" class="cloud-zoom" style="cursor:move; display:block" >
							        <img src="../@item.hinhanh" style="border-color:#D4D0C8;border-width:1px;border-style:solid;height:200px;width:200px; display:block">
						            <p id="money490" class="price">  @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.giasanpham))  </p>
                                 </a>                    	
                        
                             </div>  
                             <div class="chitiet">
                     	        <h2>@item.tensanpham</h2>
                                <span class="dong">Hãng sản xuất : @ViewBag.nhacungcap</span>
                                <span class="dong">Loại giày :@ViewBag.loaigiay</span>
                                <span class="dong">Xuất xứ : @item.motasanpham</span>
                                <span class="dong">Kích cỡ : Nhiều kích cỡ</span>
                                <span class="dong">
                        	        Tình trạng : 	
                                    @if (item.soluongcon > 0)
                                    {
                                        <span id="trangthai-con"> Còn</span>
                                    }
                                    else
                                    {
                                        <span id="trangthai-het">Hết</span>
                                    }
                                </span>
                                <button class="btn-tweet">                        	
                                    <img src="../Image/icon-tweet.png" style="height:30px; width: 30px;" />                           
                                </button>
                                <button class="btn-tweet">                        	
                                    <img src="../Image/icon-face.png" style="height:30px; width: 30px;" />                          
                                </button>
                                <button class="btn-tweet">                        	
                                    <img src="../Image/icon-google.png" style="height:30px; width: 30px;" />                           
                                </button>
                                <div class="dathang">
                                  @*  Nhập số lượng : 
                                                           	        
                                        <input name="soluong" type="text" value="1" style="width: 50px;"  /> <br />*@
                                        <a href="../giohang/giohangthem?masanpham=@Html.DisplayFor(m => item.masanpham)">
                                            <input style="background-color:#06F; color:#FFF; height: 30px; font-weight:bold; font-size: 16px; margin-top: 5px; width: 184px; margin-bottom: 5px;" type="submit" value="Thêm vào giỏ hàng"  />
                                       </a>
                                </div>
                             </div>    
                        <div class="fb-comments" data-href="localhost:49184/sanpham/ChiTietSanPham?masp=@item.masanpham<?=$_SERVER['REQUEST_URI']?>" data-width="580" data-numposts="5" data-colorscheme="light"></div>              
                       }
                    
                  </div>  
                    
            </div>
