@model IEnumerable<giayit.ServiceReferenceSanPham.sanpham>

@{
    ViewBag.Title = "TimKiemCB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="columncenter">
                 <div class="header-center">SẢN PHẨM</div>   
                 <div style="width:580px;height:auto" >
                     @if (Model.Count() < 1)
                    {      
                            <p style="text-align:center; color:red; margin-top: 10px; font-size: 15px">Không tìm thấy sản phẩm!!</p>
               
                    }
                    else
                    {
                      foreach (var item in Model)
                      {
                          <div class="showlistPro">
                            <a href="../SanPham/ChiTietSanPham?masp=@Html.DisplayFor(modelItem => item.masanpham)">
                            <img id="hinhanh" src="../@Html.DisplayFor(modelItem => item.hinhanh)"></a>
                            <p class="detail">
                        	    <a href="../SanPham/ChiTietSanPham?masp=@Html.DisplayFor(modelItem => item.masanpham)"> @Html.DisplayFor(modelItem => item.tensanpham)</a>
                            </p>
                            <p id="money490" class="price"> @String.Format("{0:0,0 VNĐ}", Convert.ToInt32(item.giasanpham)) </p>
                            <p class="price">
                        	    <a href="../giohang/giohangthem?masanpham=@Html.DisplayFor(m => item.masanpham)"> <img src="../Image/chỉ mục.jpg"></a>
                        
                            </p>
                  	      </div> 
                      }
                    }
                      
                               
                      <div>@{Html.RenderAction("Index", "page", new { currentpage = "../sanpham/timkiemcb?chuoitk=" + @ViewBag.chuoitk + "", totalpages = ViewBag.TotalPages });} </div>
                       
                    
                 </div>
                
 </div>
